<div class="h-full w-full flex">
    <!-- left container  -->
    <div class="hidden  bg-black w-1/5 h-screen text-gray-500 lg:flex flex-col justify-between ">
        <div>
            <div class="flex items-center m-2 h-10">
                <img src="../../../assets/images/cypresslogo.svg" alt="">
                <h3 class="mx-2 text-xl font-bold text-Neutrals/neutrals-6">Blogify</h3>
               </div>
               <div class="ml-3">
                    <div class="my-1 mt-4"><i class="fa-solid fa-house mx-2"></i>Home</div>
                    <div class="my-1"><i class="fa-solid fa-gear mx-2"></i>Profile</div>
                    <div class="my-1 cursor-pointer" (click)="showTrashFiles()" ><i class="fa-solid fa-trash mx-2"></i>Trash</div>
                    <div class="ml-10 cursor-pointer">
                        <ng-template [ngIf]="trashFiles">
                           
                            <div class="my-1 flex items-center" id="test1" (click)="onFileSelect($event, file.filename, emoji.textContent) " *ngFor="let file of TrashFiles">
                                <div>  <span #emoji class="mr-2">{{selectedEmoji}}</span>{{ file.filename}}</div>
                                <i class="fa-solid fa-trash ml-16" (click)="deleteFromTrash(file._id)"></i>
                                
                            </div>

                        </ng-template>
                        
                   </div>
        
               </div>
               <div class="mx-3 my-3 text-xs text-gray-700 font-bold flex justify-around items-center">
                <div class="w-3/5">
                    FILES
                </div>
                <div>
                    <i (click)="fileCreation()" class="fa-regular fa-file mx-3 text-lg hover:text-gray-200"></i>
                    <!-- <i (click)="folderCreation(folderName)" class="fa-solid fa-folder text-lg hover:text-gray-200"></i> -->
                </div>
               </div>

            <div class="ml-3 cursor-pointer">
                <ng-template [ngIf]="createFile">
                    <div class="my-1"><input #filename (change)="updateFileName(filename.value  )" class="w-full bg-black border-1 border-slate-50" type="text"></div>
                </ng-template>
                <div class="my-1 flex items-center" id="test1" (click)="onFileSelect($event, file.filename, emoji.textContent) " *ngFor="let file of Files">
                    <div>  <span #emoji class="mr-2">{{selectedEmoji}}</span>{{ file.filename}}</div>
                    <i class="fa-solid fa-trash ml-16" (click)="clickOnTrash(file._id)"></i>
                </div>

               
           </div>
        </div>
       <div>
        <div class="h-16 rounded-full cursor-pointer mx-4 my-3 bg- flex justify-around items-center bg-primary-purple-900 bg-opacity-50">
            <app-avatar [name]="name" [role]="role" [imageUrl]="'../../../assets/avatars/1.png '"></app-avatar>
            <div routerLink="/">
                <i class="fa-solid fa-arrow-right-from-bracket text-2xl" (click)="logoutFunc()"></i>
            </div>
        </div>
       </div>



       
       
    </div>

       

    <!-- right container -->
    <div class=" h-screen w-full lg:w-4/5 flex flex-col">
        <div class="h-10 w-full flex justify-end my-2">
            <div>
                <button (click)="handleBanner()">+</button>
            </div>
            <div class="mr-4 cursor-pointer" (click)="viewProfile()">
                <app-avatar [name]="''" [role]="''" [imageUrl]="'../../../assets/avatars/1.png '"></app-avatar>
            </div>

            <!-- view profile when clicked on this div -->
            <ng-container *ngIf="seeProfile">
                <ng-container *ngTemplateOutlet="profile"></ng-container>
            </ng-container>

            <!-- template for the profile -->
            <ng-template #profile>
                <div class="fixed h-52 w-44 mt-12 mr-7 px-4  flex flex-col justify-around text-Neutrals/neutrals-6 rounded-md backdrop-blur-3xl  bg-gradient-to-t from-washed-purple-800 to-background-clr ">
                    <div class="flex flex-col justify-center items-center">
                        <h3 class="text-xl">{{name}}</h3>
                        <h3 class="text-gray-500">{{role}}</h3>
                    </div>
                    <div>
                        
                    </div>
                    <div routerLink="/" class="h-10 cursor-pointer bg-primary-purple-900 rounded-xl flex justify-center items-center" (click)="logoutFunc()">
                        <span class="mx-2 font-bold">Logout</span>
                        <i class="fa-solid fa-arrow-right-from-bracket text-xl"></i>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="flex flex-col justify-center items-center">

            <ng-container *ngIf="filecreateToast">
                <ng-container *ngTemplateOutlet="ifTemplate" ></ng-container>
            </ng-container>
            <ng-container *ngIf="deletefileToast">
                <ng-container *ngTemplateOutlet="elseTemplate" ></ng-container>
            </ng-container>
            <ng-template #ifTemplate class="h-10 w-full bg-green-500 "></ng-template>
            <ng-template #elseTemplate class="h-10 w-full bg-red-500 "></ng-template> 

           
            <ng-container *ngIf="banner">
                <ng-container *ngTemplateOutlet="data"></ng-container>
            </ng-container>
            <ng-template #data>
                <div class="h-28  overflow-hidden object-cover">
                    <img src="../../../assets/images/banner.jpg" alt="">
                </div>
            </ng-template>

            <div class=" h-96 lg:h-80 w-96 sm:w-2/4 md:w-3/4 lg:w-2/3 my-5 overflow-y-auto hide-scrollbar">
                <span class="h-20 w-20 text-6xl mx-3 cursor-pointer" (click)="changeEmoji()">{{selectedEmoji}}</span>
                <span class="h-20 w-20 text-6xl mx-3 cursor-pointer" (click)="changeEmoji()">{{secondPart}}</span>

                <div>
                    <app-emoji-picker class=" h-5 w-5 sm:h-10 sm:w-10" *ngIf="changeEmj" (selectedEmoji)="getSelectedEmoji($event)"></app-emoji-picker>
                </div>
                  

                
                <!-- banner upload and remove button  -->
                <div class="text-Neutrals/neutrals-6 flex mx-3 my-4 cursor-pointer text-sm sm:text-lg">
                    <div class="mx-2"><p>Upload Banner</p></div>
                    <div class="mx-2" (click)="removeBanner()"><p>Remove Banner</p></div>
                </div>

                <div class="mx-3 text-Neutrals/neutrals-6">
                    <h1 class="text-3xl font-semibold">{{secondPart}}</h1>
                    <span>WORKSPACE </span>
                   
                </div>
                <div class="flex justify-center items-center  text-justify  text-Neutrals/neutrals-6">
                   
                     <div class="w-full text-black">

                         <!-- implementing text editor -->
                         <angular-editor class=" rounded-md  bg-gradient-to-t from-slate-900 to-slate-950 border-2 border-slate-900" [placeholder]="'Enter text here...'" [(ngModel)]="HtmlContent" [config]="config"></angular-editor>
                         <button class="bg-blue-500 h-10 w-28 mt-2 rounded-md flex justify-center items-center" (click)="updateFileContent()"><i class="fa-solid fa-floppy-disk mx-2"></i><span>Save</span></button>

                        
                     </div>
                </div>
            </div>


        </div>

    </div>

</div>

 <!-- file delete confirmation -->

     <div *ngIf="confirmFileDeletion">
        <app-file-deletion-confirm
            (confirmFileDeletion)="handleConfirmFileDeletion($event)"
            (cancelFileDeletion)="handleCancelFileDeletion($event)"
        ></app-file-deletion-confirm>
    </div>
    