/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@ctrl/ngx-emoji-mart/picker';

body {
    margin: 0;
    padding: 0;
    background-color: #030014;
  }

  .animate-slide{
    animation: 15s slide linear infinite;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }